<!-- Titulo -->
<div class="title">
  <br>
  <h1 class="main-title">Paquetes preestablecidos</h1>
</div>

<div>
  <br>
  <h2 class="sub-title">Turismo Gilca</h2>
  <hr>
</div>

<div class="contenedor-padre">
  <!-- Paquetes -->
  <div class="container">
    <div class="row row-cols-md-3 g-4">
      <!-- Paquete 1 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img
            src="https://www.gob.mx/cms/uploads/article/main_image/85557/Dolores-Hidalgo_Guanajuato-Jardi_n-Independencia-web.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Enoturismo</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal1">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel1">Enoturismo</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>
              <div class="table-responsive">
               <!--  <table class="table caption-top">
                  <caption>Itinerario Enoturismo</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">4 días</th>
                      <td>18 de Julio - 21 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 18/07</strong>
                        <br>(11:30 - 12:00) Punto de Reunión: Nos vemos en guanajuato en la explanada de Alhóndiga.
                        <br>(12:00 - 13:10) Registro de nuestro lugar de descanso en el famoso "Hotel Casa Pozo del
                        Rayo".
                        <br>(14:45 - 16:20) Degustaremos de nuestra primera comida en el bello restaurante "Aurora´s
                        Steak House".
                        <br>(16:40 - 18:00) Conoce la historia del vino de guanajuato en nuestro "Museo del vino".
                        <br>(18:00 - 20:00) Cenaremos en el restaurante "Da Monica" conocido por su comida italiana.
                        <br><br>
                        <strong>Dia 2 - 19/07</strong>
                        <br>(9:00 - 10:30) En "La Estación Restaurante y Café" les brindaremos su primer desayuno.
                        <br>(11:00 - 12:30) Descubre la semblanza del fundador de nuestro primer viñedo en "Cavas
                        Manchan".
                        <br>(14:00 - 15:30) Disfruta de una maravillosa vista en tu segunda comida en "Lago Grill".
                        <br>(15:30 - 16:25) Rodéate de la naturaleza que ofrece nuestro bello Jardín principal.
                        <br>(16:30 - 19:20) Relajación en el lindo "Spa Posada Bonita".
                        <br>(20:00 - 22:00) Acompañado de un mariachi regocijate de una cena romántica en "Fuego Tinto".
                        <br><br>
                        <strong>Dia 3 - 20/07</strong>
                        <br>(9:00 - 9:30) Delicioso y exquisito desayuno en el reconocido Restaurante Frutty Buffet.
                        <br>(10:00 - 11:30) Goza de la vida del viñedo "Tres Raíces" Experiencia.
                        <br>(11:30 - 13:00) Sumérgete en el apasionante mundo del vino con nuestra exclusiva experiencia
                        "Enólogo por un Día".
                        <br>(13:00 - 15:00) Degustación gourmet en el prestigioso Restaurante Terruño.
                        <br>(15:30 - 16:00) Tiempo para relajarte y disfrutar, aprovecha para hacer una sesión de fotos
                        en los viñedos.
                        <br>(16:30 - 18:00) Relájate durante el cómodo ambiente de Dolores Hidalgo.
                        <br>(18:30 - 19:30) Vive una experiencia de bienestar ancestral en el temazcal Metztlikali.
                        <br>(21:00 - 22:30) Cena de despedida en Aurora´s Steakhouse.
                        <br><br>
                        <strong>Dia 4 - 21/07</strong>
                        <br>(9:00 - 10:00) Desayuno en Ma Lele, un establecimiento emblemático de Dolores.
                        <br>(10:00 - 11:00) Visita a Garcas, famosa por sus deliciosas nieves artesanales.
                        <br>(12:00 - 13:00) Check-out en el hotel.
                      </td>
                    </tr>
                  </tbody>
                </table> -->

                <div class="row">
                  <div class="col-md-4 mb-4" *ngFor="let paquete of paquetes">
                    <div class="card paquete-card">
                      <div class="card-header bg-primary text-white">
                        <h2 class="card-title">{{paquete.nom_paquete}}</h2>
                      </div>
                      <div class="card-body paquete-card-body">
                        <h3 class="card-subtitle mb-2 text-muted">Información del paquete</h3>
                        <p><strong>Nombre:</strong> {{paquete.nom_paquete}}</p>
                        <p><strong>Tipo:</strong> {{paquete.tipo_paquete}}</p>
                        <p><strong>Costo:</strong> {{paquete.costo_paquete | currency}}</p>

                          <h3 class="mt-4">Servicios incluidos</h3>
                          <ul class="list-group">
                            <li class="list-group-item" *ngFor="let servicio of paquete.servicios">
                              {{servicio.tipo_servicio}}
                            </li>
                          </ul>

                          <h3 class="mt-4">Servicios con actividades</h3>
                          <div *ngFor="let servicio of paquete.servicios">
                            <div *ngIf="servicio.actividades && servicio.actividades.length > 0">
                              <h4 class="mt-3">{{servicio.tipo_servicio}}</h4>
                              <div class="table-responsive">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Fecha</th>
                                      <th>Hora</th>
                                      <th>Descripción</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let actividad of servicio.actividades">
                                      <td>{{actividad.fecha_actividad | date:'dd/MM/yyyy'}}</td>
                                      <td>{{actividad.hora_actividad}}</td>
                                      <td>{{actividad.descripcion_actividad}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['enoturismo']" id="paypal-button-container-enoturismo" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('enoturismo')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Enoturismo</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 2 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img
            src="https://escapadas.mexicodesconocido.com.mx/wp-content/uploads/2020/10/GVMD-Guanajuato-Dolores-Hidalgo-parroquia-Nuestra-senora-de-Dolores-DPG_md-ok.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Maikatí</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal2">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel2">Maikatí</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quas at dolor aperiam architecto quo dolores numquam id debitis consectetur qui ab, reprehenderit nisi culpa molestiae nesciunt cumque enim quaerat.</p>
              <br>

              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Maikatí</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>14 de Agosto - 16 de Agosto del 2024</td>
                      <td>
                        <strong>Dia 1 - 14/08</strong>
                        <br>(12:00) Salida del autobús de Celaya a el pueblo mágico "Dolores Hidalgo" Guanajuato.
                        <br>(15:00) Check-in Hotel "La Quinta 23".
                        <br>(15:00 - 17:00) Tiempo hábil para desempacar y descansar.
                        <br>(17:30 - 19:00) Recorrido en "Museo del vino", acompañado con una degustación de vinos de la localidad.
                        <br>(19:10 - 19:20) Traslado al restaurante "El Capricho".
                        <br>(19:30 - 21:00) Cena en el tradicional restaurante "El Capricho".
                        <br>(21:30) Regreso al hotel "La Quinta 23".
                        <br><br>
                        <strong>Dia 2 - 15/08</strong>
                        <br>(17:30 - 18:30) Descanso en el hotel "La Quinta 23".
                        <br>(18:40 - 19:30) Cena en el restaurante "El Olivo" el cual es confortable y con un ambiente fresco.
                        <br>(19:40 - 20:10) Regreso al hotel "La Quinta 23".
                        <br>(20:15 - 20:30) Descanso en la comunidad del hotel preparándose para la actividad en el mismo.
                        <br>(20:35 - 22:40) Actividad "Velada Nocturna, revive tu niñez", proyectando una película al gusto del grupo en un cómodo lugar con la comodidad de almohadas y sábanas; con pijama y snacks para disfrutar la Velada.
                        <br><br>
                        <strong>Dia 3 - 16/08</strong>
                        <br>(8:00 - 9:00) Desayuno en la acogedora cafetería "Amor eterno".
                        <br>(9:20 - 10:20) Traslado hacia el balneario "El Escondido", carretera Dolores Hidalgo, San Miguel de Allende.
                        <br>(10:30 - 15:30) Actividades recreativas a realizar en el balneario "El Escondido".
                        <br>(14:30) Consumo de alimentos en el restaurante de "El Escondido".
                        <br>(15:40 - 16:20) Salida del balneario "El Escondido" a Dolores Hidalgo.
                        <br>(16:30 - 17:00) Descanso en el hotel "La Quinta 23".
                        <br>(17:40 - 20:00) Actividades recreativas a realizar en el temazcal "Cashti", disfrutando de la bienvenida y proceso.
                        <br>(20:10 - 20:30) Regreso del temazcal "Cashti" para la cena en taquería "La Uno".
                        <br>(20:40 - 21:30) Cena en taquería "La Uno", donde se disfrutará de algo tradicional e inusual.
                        <br>(21:40 - 22:20) Traslado al hotel "La Quinta 23", recorrido nocturno por las calles principales de Dolores Hidalgo.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['maikati']" id="paypal-button-container-maikati" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('maikati')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Maikati</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 3 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img src="https://verestmagazine.com/wp-content/uploads/2023/10/Dolores-Hidalgo-Guanajuato-1.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Eco Adventure</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal3">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel3">Eco Adventure</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>
              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Eco Adventure</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>26 de Julio - 28 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 26/07</strong>
                        <br>(6:30 - 9:00) Transporte de aproximación de la central de León a centro Ecoturístico "San
                        Lu" Dolores Hidalgo.
                        <br>(9:30 - 11:00) Desayuno en Centro Ecoturístico "San Lu".
                        <br>(11:00 - 12:30) Paseo a caballo.
                        <br>(12:30 - 13:30) Rappel.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:00 - 17:00) Gotcha.
                        <br>(17:00 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 20:00) Actividades en alberca.
                        <br>(20:00 - 22:00) Cena.
                        <br>(22:00) Camping.
                        <br><br>
                        <strong>Dia 2 - 27/07</strong>
                        <br>(8:00 - 9:00) Transporte Centro Ecoturístico "San Lu" a Rancho Santa Fe.
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Pesca deportiva.
                        <br>(12:30 - 13:30) Tirolesa.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:30 - 17:00) Paseo en lancha.
                        <br>(17:20 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 19:00) Transporte Rancho Santa Fe a Centro Dolores Hidalgo C.I.N.
                        <br>(19:00 - 20:30) Cena en "El carruaje".
                        <br>(20:40 - 21:00) Transporte Centro Dolores Hidalgo C.I.N a Rancho los Nogales.
                        <br>(21:00 - 22:00) Fogata.
                        <br>(22:00) Estancia en cabaña.
                        <br><br>
                        <strong>Dia 3 - 28/07</strong>
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Senderismo.
                        <br>(12:00 - 12:30) Transporte de Rancho Los Nogales a Centro Dolores Hidalgo C.I.N.
                        <br>(13:00 - 14:00) Comida en "Frutty Restaurante".
                        <br>(14:00 - 15:30) Degustación de nieves artesanales.
                        <br>(16:00) Transporte Dolores Hidalgo C.I.N a destino.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['sierraBrava']" id="paypal-button-container-sierraBrava" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('sierraBrava')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Eco Adventure</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div>
    <br>
    <br>
    <h2 class="sub-title">Eskapate Corporativo Viajero</h2>
    <hr>
  </div>

  <!-- Paquetes -->
  <div class="container">
    <div class="row row-cols-md-3 g-4">
      <!-- Paquete 1 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img src="https://periodicocorreo.com.mx/__export/sites/correo/img/2022/05/10/dolores-305468912.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Enoturismo</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal6">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel6" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel6">Enoturismo</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>
              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Enoturismo</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">4 días</th>
                      <td>18 de Julio - 21 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 18/07</strong>
                        <br>(11:30 - 12:00) Punto de Reunión: Nos vemos en guanajuato en la explanada de Alhóndiga.
                        <br>(12:00 - 13:10) Registro de nuestro lugar de descanso en el famoso "Hotel Casa Pozo del
                        Rayo".
                        <br>(14:45 - 16:20) Degustaremos de nuestra primera comida en el bello restaurante "Aurora´s
                        Steak House".
                        <br>(16:40 - 18:00) Conoce la historia del vino de guanajuato en nuestro "Museo del vino".
                        <br>(18:00 - 20:00) Cenaremos en el restaurante "Da Monica" conocido por su comida italiana.
                        <br><br>
                        <strong>Dia 2 - 19/07</strong>
                        <br>(9:00 - 10:30) En "La Estación Restaurante y Café" les brindaremos su primer desayuno.
                        <br>(11:00 - 12:30) Descubre la semblanza del fundador de nuestro primer viñedo en "Cavas
                        Manchan".
                        <br>(14:00 - 15:30) Disfruta de una maravillosa vista en tu segunda comida en "Lago Grill".
                        <br>(15:30 - 16:25) Rodéate de la naturaleza que ofrece nuestro bello Jardín principal.
                        <br>(16:30 - 19:20) Relajación en el lindo "Spa Posada Bonita".
                        <br>(20:00 - 22:00) Acompañado de un mariachi regocijate de una cena romántica en "Fuego Tinto".
                        <br><br>
                        <strong>Dia 3 - 20/07</strong>
                        <br>(9:00 - 9:30) Delicioso y exquisito desayuno en el reconocido Restaurante Frutty Buffet.
                        <br>(10:00 - 11:30) Goza de la vida del viñedo "Tres Raíces" Experiencia.
                        <br>(11:30 - 13:00) Sumérgete en el apasionante mundo del vino con nuestra exclusiva experiencia
                        "Enólogo por un Día".
                        <br>(13:00 - 15:00) Degustación gourmet en el prestigioso Restaurante Terruño.
                        <br>(15:30 - 16:00) Tiempo para relajarte y disfrutar, aprovecha para hacer una sesión de fotos
                        en los viñedos.
                        <br>(16:30 - 18:00) Relájate durante el cómodo ambiente de Dolores Hidalgo.
                        <br>(18:30 - 19:30) Vive una experiencia de bienestar ancestral en el temazcal Metztlikali.
                        <br>(21:00 - 22:30) Cena de despedida en Aurora´s Steakhouse.
                        <br><br>
                        <strong>Dia 4 - 21/07</strong>
                        <br>(9:00 - 10:00) Desayuno en Ma Lele, un establecimiento emblemático de Dolores.
                        <br>(10:00 - 11:00) Visita a Garcas, famosa por sus deliciosas nieves artesanales.
                        <br>(12:00 - 13:00) Check-out en el hotel.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['enoturismoEsk']" id="paypal-button-container-enoturismoEsk" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('enoturismoEsk')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Enoturismo</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 2 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img src="https://periodicocorreo.com.mx/__export/sites/correo/img/2022/05/10/dolores-305468912.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Eco Adventure</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal7">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel7" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel7">Eco Adventure</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>
              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Eco Adventure</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>26 de Julio - 28 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 26/07</strong>
                        <br>(6:30 - 9:00) Transporte de aproximación de la central de León a centro Ecoturístico "San
                        Lu" Dolores Hidalgo.
                        <br>(9:30 - 11:00) Desayuno en Centro Ecoturístico "San Lu".
                        <br>(11:00 - 12:30) Paseo a caballo.
                        <br>(12:30 - 13:30) Rappel.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:00 - 17:00) Gotcha.
                        <br>(17:00 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 20:00) Actividades en alberca.
                        <br>(20:00 - 22:00) Cena.
                        <br>(22:00) Camping.
                        <br><br>
                        <strong>Dia 2 - 27/07</strong>
                        <br>(8:00 - 9:00) Transporte Centro Ecoturístico "San Lu" a Rancho Santa Fe.
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Pesca deportiva.
                        <br>(12:30 - 13:30) Tirolesa.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:30 - 17:00) Paseo en lancha.
                        <br>(17:20 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 19:00) Transporte Rancho Santa Fe a Centro Dolores Hidalgo C.I.N.
                        <br>(19:00 - 20:30) Cena en "El carruaje".
                        <br>(20:40 - 21:00) Transporte Centro Dolores Hidalgo C.I.N a Rancho los Nogales.
                        <br>(21:00 - 22:00) Fogata.
                        <br>(22:00) Estancia en cabaña.
                        <br><br>
                        <strong>Dia 3 - 28/07</strong>
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Senderismo.
                        <br>(12:00 - 12:30) Transporte de Rancho Los Nogales a Centro Dolores Hidalgo C.I.N.
                        <br>(13:00 - 14:00) Comida en "Frutty Restaurante".
                        <br>(14:00 - 15:30) Degustación de nieves artesanales.
                        <br>(16:00) Transporte Dolores Hidalgo C.I.N a destino.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['sierraBravaEsk']" id="paypal-button-container-sierraBravaEsk" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('sierraBravaEsk')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Eco Adventure</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 3 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img
            src="https://cdn.cnn.com/cnnnext/dam/assets/190913211354-dolores-hidalgo-16-septiembre-grito-independencia-queretaro-pkg-belen-zapata-perspectivas-mexico-00001415.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Maikatí</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal8">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel8" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel8">Maikatí</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>

              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Maikatí</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>14 de Agosto - 16 de Agosto del 2024</td>
                      <td>
                        <strong>Dia 1 - 14/08</strong>
                        <br>(12:00) Salida del autobús de Celaya a el pueblo mágico "Dolores Hidalgo" Guanajuato.
                        <br>(15:00) Check-in Hotel "La Quinta 23".
                        <br>(15:00 - 17:00) Tiempo hábil para desempacar y descansar.
                        <br>(17:30 - 19:00) Recorrido en "Museo del vino", acompañado con una degustación de vinos de la localidad.
                        <br>(19:10 - 19:20) Traslado al restaurante "El Capricho".
                        <br>(19:30 - 21:00) Cena en el tradicional restaurante "El Capricho".
                        <br>(21:30) Regreso al hotel "La Quinta 23".
                        <br><br>
                        <strong>Dia 2 - 15/08</strong>
                        <br>(17:30 - 18:30) Descanso en el hotel "La Quinta 23".
                        <br>(18:40 - 19:30) Cena en el restaurante "El Olivo" el cual es confortable y con un ambiente fresco.
                        <br>(19:40 - 20:10) Regreso al hotel "La Quinta 23".
                        <br>(20:15 - 20:30) Descanso en la comunidad del hotel preparándose para la actividad en el mismo.
                        <br>(20:35 - 22:40) Actividad "Velada Nocturna, revive tu niñez", proyectando una película al gusto del grupo en un cómodo lugar con la comodidad de almohadas y sábanas; con pijama y snacks para disfrutar la Velada.
                        <br><br>
                        <strong>Dia 3 - 16/08</strong>
                        <br>(8:00 - 9:00) Desayuno en la acogedora cafetería "Amor eterno".
                        <br>(9:20 - 10:20) Traslado hacia el balneario "El Escondido", carretera Dolores Hidalgo, San Miguel de Allende.
                        <br>(10:30 - 15:30) Actividades recreativas a realizar en el balneario "El Escondido".
                        <br>(14:30) Consumo de alimentos en el restaurante de "El Escondido".
                        <br>(15:40 - 16:20) Salida del balneario "El Escondido" a Dolores Hidalgo.
                        <br>(16:30 - 17:00) Descanso en el hotel "La Quinta 23".
                        <br>(17:40 - 20:00) Actividades recreativas a realizar en el temazcal "Cashti", disfrutando de la bienvenida y proceso.
                        <br>(20:10 - 20:30) Regreso del temazcal "Cashti" para la cena en taquería "La Uno".
                        <br>(20:40 - 21:30) Cena en taquería "La Uno", donde se disfrutará de algo tradicional e inusual.
                        <br>(21:40 - 22:20) Traslado al hotel "La Quinta 23", recorrido nocturno por las calles principales de Dolores Hidalgo.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['maikatiEsk']" id="paypal-button-container-maikatiEsk" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('maikatiEsk')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Maikati</a>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div>
    <br>
    <br>
    <h2 class="sub-title">Dromomania Experience</h2>
    <hr>
  </div>

  <!-- Paquetes -->
  <div class="container">
    <div class="row row-cols-md-3 g-4">
      <!-- Paquete 1 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img src="https://periodicocorreo.com.mx/__export/sites/correo/img/2022/05/10/dolores-305468912.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Enoturismo</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal11">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel11" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel11">Enoturismo</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit voluptate deleniti fugit eos fugiat ad quos rerum, nam, assumenda recusandae tempore reprehenderit ducimus explicabo placeat adipisci quia ullam laudantium? Suscipit?</p>
              <br>
              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Enoturismo</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">4 días</th>
                      <td>18 de Julio - 21 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 18/07</strong>
                        <br>(11:30 - 12:00) Punto de Reunión: Nos vemos en guanajuato en la explanada de Alhóndiga.
                        <br>(12:00 - 13:10) Registro de nuestro lugar de descanso en el famoso "Hotel Casa Pozo del
                        Rayo".
                        <br>(14:45 - 16:20) Degustaremos de nuestra primera comida en el bello restaurante "Aurora´s
                        Steak House".
                        <br>(16:40 - 18:00) Conoce la historia del vino de guanajuato en nuestro "Museo del vino".
                        <br>(18:00 - 20:00) Cenaremos en el restaurante "Da Monica" conocido por su comida italiana.
                        <br><br>
                        <strong>Dia 2 - 19/07</strong>
                        <br>(9:00 - 10:30) En "La Estación Restaurante y Café" les brindaremos su primer desayuno.
                        <br>(11:00 - 12:30) Descubre la semblanza del fundador de nuestro primer viñedo en "Cavas
                        Manchan".
                        <br>(14:00 - 15:30) Disfruta de una maravillosa vista en tu segunda comida en "Lago Grill".
                        <br>(15:30 - 16:25) Rodéate de la naturaleza que ofrece nuestro bello Jardín principal.
                        <br>(16:30 - 19:20) Relajación en el lindo "Spa Posada Bonita".
                        <br>(20:00 - 22:00) Acompañado de un mariachi regocijate de una cena romántica en "Fuego Tinto".
                        <br><br>
                        <strong>Dia 3 - 20/07</strong>
                        <br>(9:00 - 9:30) Delicioso y exquisito desayuno en el reconocido Restaurante Frutty Buffet.
                        <br>(10:00 - 11:30) Goza de la vida del viñedo "Tres Raíces" Experiencia.
                        <br>(11:30 - 13:00) Sumérgete en el apasionante mundo del vino con nuestra exclusiva experiencia
                        "Enólogo por un Día".
                        <br>(13:00 - 15:00) Degustación gourmet en el prestigioso Restaurante Terruño.
                        <br>(15:30 - 16:00) Tiempo para relajarte y disfrutar, aprovecha para hacer una sesión de fotos
                        en los viñedos.
                        <br>(16:30 - 18:00) Relájate durante el cómodo ambiente de Dolores Hidalgo.
                        <br>(18:30 - 19:30) Vive una experiencia de bienestar ancestral en el temazcal Metztlikali.
                        <br>(21:00 - 22:30) Cena de despedida en Aurora´s Steakhouse.
                        <br><br>
                        <strong>Dia 4 - 21/07</strong>
                        <br>(9:00 - 10:00) Desayuno en Ma Lele, un establecimiento emblemático de Dolores.
                        <br>(10:00 - 11:00) Visita a Garcas, famosa por sus deliciosas nieves artesanales.
                        <br>(12:00 - 13:00) Check-out en el hotel.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['enoturismoDro']" id="paypal-button-container-enoturismoDro" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('enoturismoDro')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Enoturismo</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 2 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img src="https://la-lista.com/wp-content/uploads/2022/08/feria-dolores-hidalgo.jpg" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h2 class="card-title">Eco Adventure</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal12">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel12" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel12">Eco Adventure</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Eco Adventure</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>

              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Eco Adventure</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>26 de Julio - 28 de Julio del 2024</td>
                      <td>
                        <strong>Dia 1 - 26/07</strong>
                        <br>(6:30 - 9:00) Transporte de aproximación de la central de León a centro Ecoturístico "San
                        Lu" Dolores Hidalgo.
                        <br>(9:30 - 11:00) Desayuno en Centro Ecoturístico "San Lu".
                        <br>(11:00 - 12:30) Paseo a caballo.
                        <br>(12:30 - 13:30) Rappel.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:00 - 17:00) Gotcha.
                        <br>(17:00 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 20:00) Actividades en alberca.
                        <br>(20:00 - 22:00) Cena.
                        <br>(22:00) Camping.
                        <br><br>
                        <strong>Dia 2 - 27/07</strong>
                        <br>(8:00 - 9:00) Transporte Centro Ecoturístico "San Lu" a Rancho Santa Fe.
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Pesca deportiva.
                        <br>(12:30 - 13:30) Tirolesa.
                        <br>(13:30 - 15:00) Comida.
                        <br>(15:30 - 17:00) Paseo en lancha.
                        <br>(17:20 - 18:00) Amenidades y snacks.
                        <br>(18:00 - 19:00) Transporte Rancho Santa Fe a Centro Dolores Hidalgo C.I.N.
                        <br>(19:00 - 20:30) Cena en "El carruaje".
                        <br>(20:40 - 21:00) Transporte Centro Dolores Hidalgo C.I.N a Rancho los Nogales.
                        <br>(21:00 - 22:00) Fogata.
                        <br>(22:00) Estancia en cabaña.
                        <br><br>
                        <strong>Dia 3 - 28/07</strong>
                        <br>(9:00 - 10:00) Desayuno.
                        <br>(10:30 - 12:00) Senderismo.
                        <br>(12:00 - 12:30) Transporte de Rancho Los Nogales a Centro Dolores Hidalgo C.I.N.
                        <br>(13:00 - 14:00) Comida en "Frutty Restaurante".
                        <br>(14:00 - 15:30) Degustación de nieves artesanales.
                        <br>(16:00) Transporte Dolores Hidalgo C.I.N a destino.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['sierraBravaDro']" id="paypal-button-container-sierraBravaDro" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('sierraBravaDro')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Eco Adventure</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Paquete 3 -->
      <div class="col-sm-12">
        <div class="card h-100">
          <img
            src="https://www.unionguanajuato.mx/wp-content/uploads/2022/03/DOLORES-HIDALGO-GUANAJUATO-PUEBLOS-MAGICOS.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Maikatí</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal13">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal13" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel13" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="card-title" id="exampleModalLabel13">Maikatí</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-description">Descripción</h2>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur rerum explicabo, sit
                repudiandae nostrum nemo ipsa molestiae consequatur consectetur accusantium, repellendus asperiores
                totam eligendi harum necessitatibus. Nam, optio laborum?</p>
              <br>

              <div class="table-responsive">
                <table class="table caption-top">
                  <caption>Itinerario Maikatí</caption>
                  <thead>
                    <tr>
                      <th scope="col">Duración</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">3 días</th>
                      <td>14 de Agosto - 16 de Agosto del 2024</td>
                      <td>
                        <strong>Dia 1 - 14/08</strong>
                        <br>(12:00) Salida del autobús de Celaya a el pueblo mágico "Dolores Hidalgo" Guanajuato.
                        <br>(15:00) Check-in Hotel "La Quinta 23".
                        <br>(15:00 - 17:00) Tiempo hábil para desempacar y descansar.
                        <br>(17:30 - 19:00) Recorrido en "Museo del vino", acompañado con una degustación de vinos de la localidad.
                        <br>(19:10 - 19:20) Traslado al restaurante "El Capricho".
                        <br>(19:30 - 21:00) Cena en el tradicional restaurante "El Capricho".
                        <br>(21:30) Regreso al hotel "La Quinta 23".
                        <br><br>
                        <strong>Dia 2 - 15/08</strong>
                        <br>(17:30 - 18:30) Descanso en el hotel "La Quinta 23".
                        <br>(18:40 - 19:30) Cena en el restaurante "El Olivo" el cual es confortable y con un ambiente fresco.
                        <br>(19:40 - 20:10) Regreso al hotel "La Quinta 23".
                        <br>(20:15 - 20:30) Descanso en la comunidad del hotel preparándose para la actividad en el mismo.
                        <br>(20:35 - 22:40) Actividad "Velada Nocturna, revive tu niñez", proyectando una película al gusto del grupo en un cómodo lugar con la comodidad de almohadas y sábanas; con pijama y snacks para disfrutar la Velada.
                        <br><br>
                        <strong>Dia 3 - 16/08</strong>
                        <br>(8:00 - 9:00) Desayuno en la acogedora cafetería "Amor eterno".
                        <br>(9:20 - 10:20) Traslado hacia el balneario "El Escondido", carretera Dolores Hidalgo, San Miguel de Allende.
                        <br>(10:30 - 15:30) Actividades recreativas a realizar en el balneario "El Escondido".
                        <br>(14:30) Consumo de alimentos en el restaurante de "El Escondido".
                        <br>(15:40 - 16:20) Salida del balneario "El Escondido" a Dolores Hidalgo.
                        <br>(16:30 - 17:00) Descanso en el hotel "La Quinta 23".
                        <br>(17:40 - 20:00) Actividades recreativas a realizar en el temazcal "Cashti", disfrutando de la bienvenida y proceso.
                        <br>(20:10 - 20:30) Regreso del temazcal "Cashti" para la cena en taquería "La Uno".
                        <br>(20:40 - 21:30) Cena en taquería "La Uno", donde se disfrutará de algo tradicional e inusual.
                        <br>(21:40 - 22:20) Traslado al hotel "La Quinta 23", recorrido nocturno por las calles principales de Dolores Hidalgo.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="showPayPalButton['maikatiDro']" id="paypal-button-container-maikatiDro" class="paypal-button-container"></div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-tercero" (click)="obtenerPaquete('maikatiDro')">
                <a routerLink="" class="btn btn-link">Obtener Paquete Maikati</a>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
<br>
<div>
  <h2 class="sub-title">Contactanos!</h2>
</div>

<!-- Paquetes -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Paquete 1 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Turismo Gilca!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/tgilca">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-182-2986
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-184-5804
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Yucatán 20 centro
            <br> Dolores Hidalgo, CIN, Gto
            <br>
            <div class="mt-3">
              <a href="https://www.google.com/maps" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Paquete 2 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Corporativo Viajero!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span> eskapatecorporativo&#64;hotmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/tgilca">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (444)-317-2663
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> coronel romero 2100
            instalaciones de CANACO.
            <br> San Luis potosi, S.L.P
            <div class="mt-3">
              <a href="https://www.google.com/maps" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Paquete 3 -->
    <div class="col">
      <div class="card h-100 fondo letras">
        <h3 class="color--white mb-5 grandet">Dromomania Experience!</h3>
        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            dromomamia&#64;gmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span>
            <a href="https://www.facebook.com/independenciaTouristicServices">Facebook</a>
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (418)-150-1008
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Querétaro #16 zona centro
            <br> Dolores Hidalgo, CIN. Gto.
            <div class="mt-3">
              <a href="https://www.google.com/maps" target="blank" class="text-link link--right-icon text-white">Obtener
                direcciones <i class="link_icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="exampleModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="card-title" id="exampleModalLabel3">Logistica</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores iste magni ratione praesentium, nihil
              consequatur. Ad accusamus odio cum, quos culpa, exercitationem blanditiis provident aliquid dolorum,
              laborum eligendi vero aut.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>


