.contenedor-padre{
  margin-bottom: 2em;
}

hr{
  border: 2px solid royalblue;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

/* Títulos principales y subtítulos */
.main-title {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 5px;
  background-image: url('./imagenes/montanas-de-chile-compressor.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title {
  font-size: 2em;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}





.card {
  background-color: #ffffff;
  color: #000000;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.card-title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  font-size: 15px;
  margin-bottom: 10px;
}


.btn-primary {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
  color: #fff;
}

.btn-secondary{
  background-color: #000000;
  border: none;
  border-radius: 20px;
  margin-top: 25px;
  padding: 10px 30px;
}

.btn-tercero{
  background-color: #000000;
  border: none;
  border-radius: 20px;
  padding: 3px 25px;
  margin-top: 25px;
  a{
    color: #fff;
    text-decoration: none;
  }
}

.modal-description{
  text-align: center;
}

//Tablas
.table {
  width: 100%;
  border-collapse: collapse;
}
.table caption {
  caption-side: top;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
}
.table th, .table td {
  border: 1px solid #000000;
  padding: 8px;
}
.table th {
  background-color: #c5c5c5;
  color: black;
  text-align: left;
}
.table tr:nth-child(even) {
  background-color: #000000;
}

.table tbody tr th {
  background-color: #ffffff;
}

/*.table img {
  max-width: 200px;
  height: auto;
}*/

.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: .625rem .625rem 0 0
}

.fondo {
  background-image: linear-gradient(rgb(93, 141, 238), rgb(110, 108, 187)70%);

  padding: 4pc;
}

.letras {
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.grandet{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

a{
  color: #ffffff;
}

a:visited{
  color: rgb(164, 170, 255);
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
      border-radius: 0 .625rem .625rem 0;
      padding: 5rem !important
  }
}
.contact-info__list span.position-absolute {
  left: 0
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #000000;
  border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
  .contact__wrapper {
      border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}

.paypal-button-container {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 400px;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}